.dashboard{
    height: 70px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.ingfo{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 3px;
}



.navigation{
    margin : 0px 50px 0px 50pxpx;
}

.navbg{
    height: 80px;
    background-color: seagreen;
}

.logo{
    color: aliceblue;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 1.3px 1.3px lightgreen;  
     
}

.card-text{
    font-size: 50px;
    font-weight: 1000;
}

